@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Merriweather', serif;
}

* {
    margin: 0;
    padding: 0;
}

.demo {

    background-image: url("../resources/BannerImage.png");
    background-repeat: no-repeat;
    background-size: 1100px 400px;
    background-position: center center;
    padding: 5px;
    /* margin: 10px 130px 10px 130px; */
}

.container {
    margin: 0 100px 0px 50px;
}

.banner {
    background-position: center center;
    margin-top: 0;
}

.banner-text {
    color: #FFFFFF;
    margin: 0 18% 0 18%;
    padding: 18% 18% 0 18%;
    text-align: center;
    font-size: 22px;
}

.banner-content {
    padding: 0px 5% 5% 8%;

}

/* main section style */

.offer {
    margin: 0 200px 0 200px;
    padding: 0 150px 0 150px;

}

.discount {
    /* text-align: center;
    color: #FF0000;
    font-size: 88px;
    font-weight: 700;
    color: #F00; */

    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.discount-title {
    text-align: center;
    color: #FF0000;
}

.categories {
    text-align: center;
    color: #070211;
    font-weight: 700;
}

/* section two style */

#party {
    margin: 120px;
}

.image-container {
    background-image: url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: inherit;
    display: flex;
    padding: 100px;
    background-size: 1320px 600px;
}

.section-heading h3 {
    color: #FFF;
    font-size: 44px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 7.04px;
    padding-top: 10px;
}

.section-description {
    color: rgba(252, 249, 252, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding: 50PX 0PX 20PX 0PX;
}

.Join {
    color: #FFF;
    /* text-align: left; */
    padding-left: 60px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

/* section three style */
#section-description {
    margin: 0 120px 50px 120px;
    justify-content: center;
    align-items: center;

}

.hotel-contact {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px;
}

.main-section {
    text-align: center;
    /* padding: 5px; */
    /* padding: 100px; */
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    text-transform: capitalize;
}

.hotel-contact button {
    display: flex;
    margin: auto;
    background-color: red;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    padding: 10px;
}

.now {
    justify-content: center;
}

/* section four style */
#section-four {
    margin: 130px;
}

.section-four-part {
    display: flex;
    gap: 50px;
}

.part-one {
    line-height: 5px;
}

.part-one-title {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.part-one-headig {
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-right: 10px;
    padding-bottom: 0;

}

.part-one-description {
    width: 330px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.part-two img {
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;

}

.year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 30px;
}

.part-three-description {
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}


.part-three-image {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    padding: 60px 0 0 0;
}

/* sub section five style */
#sub-section {
    margin: 130px;
}

.sub-section-two .image-1 {
    float: right;
}

.sub-section-one {
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}

.sub-section-one>h5 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sub-section-one>h1 {
    color: black;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

/* section five style */

#section-five {
    margin: 130px 130px 20px 130px;
}

.title {
    text-align: left top;
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.section-five-heading {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.section-five-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-right: 330px;
    margin-top: 10px;

}

.image-part-one>img {
    width: 321px;
    height: 346px;
    margin-right: 24px;
    margin-bottom: 24px;
}

.image-part-two>img {
    width: 321px;
    height: 346px;
    margin-right: 24px;
    margin-bottom: 24px;
}


/* section six style */
#section-six {
    margin: 0 130px 50px 130px;
    text-align: center;
}

.final-section {
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.05);
    padding: 60px;

}

.final-section>p {
    padding-left: 80px;
    padding-right: 80px;
}

.final-section form {
    display: flex;
}

.final-section form input {
    width: 600px;
}

.sub {
    padding-left: 180px;
    padding-right: 180px;
}

.sub input {
    /* width: 180px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF; */
    border-radius: 50px 0px 0px 50px;
    border: none;
}

.sub button {
    width: 180px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}



/* footer style */

.contact {
    background-color: #070211;
    width: 1300px;
    height: 500px;
}

.contact hr {
    width: 1300px;
    height: 0.5px;
}

.addres-and-phone {
    margin: 130px 130px 0px 130px;
}

.addres {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}


.number,
.website {
    display: flex;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px
}

.addres-and-phone {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-right: 80px;
    padding-bottom: 0px;
}

.addres-and-phone>p {
    padding-right: 280px;
}

.link {
    text-align: center;
}

.final-footer {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    padding-left: 100px;
    padding-right: 190px;
    padding-top: 50px;
}